// Colors.
$solar-blue: #2273db;
$solar-red: #cc3020;
$solar-green: #22a885;
$solar-yellow: #FFDB59;

// Components.
$menu-width: 240px;

// Main Application.
body {
    margin: auto;
    padding: 0;
}

